---


---

<section id="navbar">
    <nav class="flex justify-between items-center mb-16 fixed top-10 left-15 right-15 z-50">
    <span class="text-white font-bold text-xl hover-scale">MS</span>
    <div class="flex items-center space-x-8 navbar-text">
        <a href="#experience" class="text-gray-300 hover:text-white transition-colors hover-scale">Experience</a>
        <a href="#skills" class="text-gray-300 hover:text-white transition-colors hover-scale">Skills</a>
        <a href="#projects" class="text-gray-300 hover:text-white transition-colors hover-scale">Projects</a>
        <a href="#contact" class="bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition-all hover:scale-105 animate-pulse-glow">
        Contact
        </a>
    </div>
    </nav>
</section>